{% extends "_base.html" %}

{% block title %}
<title>{{ meta.title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description"
  content="{{ meta.description }}" />
{% endblock %}

{% block content %}
{% include "homepage/sections/hero/hero_section.html" %}
{% include "homepage/sections/stats/stats_section.html" %}
{% include "homepage/sections/diaspora/diaspora_section.html" %}
{% include "homepage/sections/features/features_section.html" %}
{% include "homepage/sections/steps/steps_section.html" %}
{% include "homepage/sections/services/services_section.html" %}
{% include "homepage/sections/portfolio/portfolio_section.html" %}
{% include "homepage/sections/newsletter/newsletter_section.html" %}
{% endblock %}