<section id="services" class="py-32 bg-background relative">
  <div class="max-w-7xl mx-auto px-6">
    <div class="text-center max-w-3xl mx-auto mb-24">
      <span class="text-accent font-bold uppercase tracking-[0.4em] text-[10px] mb-6 block">{{ services_section.subtitle }}</span>
      <h2 class="text-4xl md:text-6xl font-serif font-bold text-texts leading-tight">
        {{ services_section.heading }}
      </h2>
    </div>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-16">
      {% for service in services_section.services %}
       <div class="glass glass-border rounded-[3rem] p-12 hover:shadow-2xl transition-all duration-700 bg-white/40">
        <div class="w-20 h-20 rounded-2xl{% if forloop.counter == 1%} bg-texts {% else %} bg-secondary {% endif %} text-white flex items-center justify-center mb-10 shadow-xl">
           {{ service.icon|safe }}
        </div>
        <h3 class="text-3xl font-serif font-bold text-texts mb-6">{{ service.title }}</h3>
        <p class="text-texts/60 leading-relaxed font-medium mb-10">
          {{ service.description }}
        </p>       
      
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
          {% for item in service.expertise %}
          <li class="flex items-center space-x-3 text-texts/70 font-bold uppercase text-[10px] tracking-widest">
            <span class="w-1.5 h-1.5 rounded-full bg-accent"></span>
            <span>{{ item }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}

     
    </div>
  </div>
</section>